form {
  @apply bg-white shadow-md rounded px-8 pt-6 pb-6 mb-6;
  label {
    @apply block text-gray-700 text-sm font-bold mb-2;

    &:not(:first-child){
      @apply mt-4;
    }
  }
  
  input[type="text"] {
    @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight;

    &:focus {
      @apply outline-none shadow-outline;
    }
  }

  input[type="submit"] {
    @apply bg-blue-500 text-white font-bold py-2 px-4 rounded cursor-pointer mt-6 ml-4;

    &:focus {
      @apply outline-none shadow-outline;
    }

    &:hover {
      @apply bg-blue-700;
    }
  }
}
