.todos {
  @apply mb-8;

  th, td {
    @apply px-8 pt-6 pb-6;
  }

  tbody {
    tr {
      &:hover {
        @apply bg-gray-200;
      }

      &.finish-true {
        td:not(:last-child) {
          @apply line-through;
        }
      }
    }
  }

  td {
    @apply text-center;


    &.name {
      @apply text-left;
    }
  }
}