doctype html
html(lang="fr")
  include includes/head.pug
  body(class="h-screen flex flex-col items-center justify-center")
    h1(class="text-6xl mb-8") Page non trouvée
    a(href="/todo" class="block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded") Revenir à l'accueil
    include includes/footer.pug