doctype html
html(lang="fr")
  include includes/head.pug
  body(class="max-h-screen")
    
    -function prettyDate(dateString){
      -let dateObj = new Date(dateString);
      -let day = String(dateObj.getDate()).padStart(2, '0');
      -let month = ('0' + (dateObj.getMonth() + 1)).slice(-2);
      -let year = dateObj.getFullYear();
      -return day + "/" + month + "/" + year;
    -}
    main(class="container flex flex-col justify-center items-center")
      h1(class="mb-2") Todo List
      if error
        p.error #{error}
      div(class="w-full")
        form(action="/todo/add/", method="post")
          label(for="name") Que dois-je faire ?
          input(type="text", name="name", id="name", placeholder="Faire la vaisselle", required)
          label(for="category") Dans quelle catégorie ?
          input(type="text", name="category", id="category", placeholder="Tache ménagère")
          input(type="date", name="date", id="date")
          input(type="submit")
        if todolist != ''
          table(class="todos bg-white shadow-md rounded w-full")
            thead(class="sticky top-0 bg-white")
              tr
                th
                  div(class="flex items-center justify-center cursor-pointer") Finis
                    include includes/tri-icon.pug
                th
                  div(class="flex items-center justify-center cursor-pointer") Nom
                    include includes/tri-icon.pug
                th
                  div(class="flex items-center justify-center cursor-pointer") Date
                    include includes/tri-icon.pug
                th
                  div(class="flex items-center justify-center cursor-pointer") Catégorie
                    include includes/tri-icon.pug
                th
                  div(class="flex items-center justify-center") Actions
            tbody
              each todo, index in todolist
                tr(class="finish-" + todo.finished)
                  td 
                    if todo.finished
                      input(type="checkbox" class="mr-4 todo-checkbox" onclick="todoCheck('"+todo.id+"', this)" checked)
                    else
                      input(type="checkbox" class="mr-4 todo-checkbox" onclick="todoCheck('"+todo.id+"', this)")
                  td(class="name") #{todo.name}
                  td #{prettyDate(todo.date)}
                  td #{todo.category}
                  td 
                    a(class="text-blue-500 hover:text-blue-700 mr-6", href="/todo/edit/" + todo.id) Modifier
                    button(class="text-red-500 hover:text-red-700", onclick="confirmSuppr('"+todo.id+"')") Supprimer 
        div(class="bg-white shadow-md rounded w-full px-8 py-6")
          <a class="cursor-pointer bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center mr-4" href="/todo/export/json">
            <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z"/></svg>
            <span>Exporter en JSON</span>
          </a>

          <a class="cursor-pointer bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center" href="/todo/export/csv">
            <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z"/></svg>
            <span>Exporter en CSV</span>
          </a>
    include includes/footer.pug